
<div class="top-wrapper">
    <div class="container">
        <div class="top-text">
            <h1>ログインしてください。</h1>
            <h2>アカウントをお持ちでない方は、以下から登録できます。</h2>
        </div>
        <div class="btn_wrapper">
            <a class="btn_signup"><%= link_to("新規登録はこちら", "/signup") %></a>
                <div class="signup-img">        
                    <a href="/signup">
                        <img src="http://icooon-mono.com/i/icon_15835/icon_158350.svg">
                    </a>
                </div>
            <p>or</p>
            <!--<a href="/login" class="btn loggin"><span class="fa fa-facebook fa-spin"></span>Loginはこちら</a>-->
            <i class="far fa-kiss fa-lg"></i>
            <a href="/login" class="btn loggin">
                <span class="far fa-hand-point-right fa-lg"></span>
                Loginはこちら
            </a>
            <i class="far fa-kiss fa-lg"></i>
            
        </div>
    </div>
</div>




